[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AdvBinomApps"]
	path = AdvBinomApps
	url = https://github.com/cran/AdvBinomApps
[submodule "GenBinomApps"]
	path = GenBinomApps
	url = https://github.com/cran/GenBinomApps
